@import "styles/reset";

$color-bsol: #156EED;
$color-melon: #FF7651;
$color-bolt: #FFCC5E;
$color-green: #00BC7F;
$color-purple: #5433FD;
$color-red: #FF2626;
$color-black: #16171A;
$color-gray: #999;
$color-white: #fff;
$color-light-gray: #EEF1F2;
$color-extra-light-gray: desaturate(#F7FDFF, 50%);

$color-reading: lighten($color-black, 15%);
$color-border: $color-light-gray;

.ui-hidden {
  display: none;
}

body {
  background: #EEF1F2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  color: $color-black;
}

main {
  box-sizing: border-box;
  width: 400px;
  margin: 100px auto;
}

form, article {
  background: $color-white;
  box-shadow: 2px 2px darken($color-light-gray, 10%);
  border-radius: 2px;
  padding: 15px;
  margin-top: 30px;
}

hr {
  height: 1px;
  border: none;
  background: $color-border;
  margin: 30px 0;
}

p {
  line-height: 18px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $color-bsol;
  font-weight: 500;
}

.form-errors {
  padding: 8px;
  background: lighten($color-melon, 32%);
  box-shadow: 2px 2px lighten($color-melon, 15%);
  margin-bottom: 15px;
  font-size: 13px;
  color: darken($color-melon, 40%);
}

.form-field {
  display: flex;
  justify-content: space-between;

  input {
    &[type="text"], &[type="password"], &[type="email"] {
      flex-grow: 1;
    }
  }
}

input {
  outline: none;
  -webkit-appearance:none;
  font-size: 15px;

  &:focus {
    border-color: $color-bsol;
  }

  &[type="text"], &[type="password"], &[type="email"] {
    padding: 8px;
    border: 1px solid $color-border;
    color: $color-black;
  }
}

.button {
  padding: 8px;
  border: 1px solid $color-bsol;
  background: $color-bsol;
  text-decoration: none;
  font-weight: 500;
  color: $color-white;
  cursor: pointer;
  display: inline-block;

  &.current {
    color: darken($color-white, 10%);
    background: grayscale($color-bsol);
  }

  &--primary {
  }

  &--secondary {
    font-size: 1.3rem;
    padding: 2px 5px;
    background: $color-gray;
  }

  &--small {
    font-size: 1.3rem;
    padding: 2px 5px;
  }
}
